.navbar {
    padding: 0;
}

.navbar-collapse {
    padding: 0 10px;
    justify-content: flex-end;
}

.nav-link {
    font-size: 1.5rem;
    padding: 20px 20px !important;
    transition: 0.5s;
}

.nav-item {
    margin: 0 30px;
}

.login-nav:hover {
    background-color: rgb(252, 220, 195);
}

.signup-nav:hover {
    background-color: #b371a2;
}

.play-nav:hover {
    background-color: rgb(201, 137, 135);
}

.settings-nav:hover {
    background-color: rgb(252, 220, 195);
}

.about-nav:hover {
    background-color: orange;
}

.logout-nav:hover {
    background-color: firebrick;
}

.navigation-item {
    cursor: pointer;
}
