.navbar-nav {
    margin-top: -25px;
    margin-bottom: -25px;
    margin-right: 100px;
}
.navbar{
    height: 115px;
}
.navbar-collapse {
    justify-content: flex-end;
}

.nav-item {
    width: 130px;
    height: 115px;
    font-size: 14px;
    text-align: center;
    padding-top: 35px;
    font-family: 'BrandonGrotesque-Bold', sans-serif;
    text-transform: uppercase;
    color: black;
}


.nav-item a{
    width: 130px;
    height: 115px;
}
.nav-item a:hover{
    color: white;
    cursor: pointer;
}


.login-nav:hover {
    background-color: rgb(48, 65, 169);  
}

.signup-nav:hover {
    background-color: rgb(235, 85, 56);
}

.play-nav:hover {
    background-color: rgb(245, 195, 98);
}

.settings-nav:hover {
    background-color: rgb(224, 88, 144);
}

.about-nav:hover {
    background-color: rgb(185, 165, 208);
}

.logout-nav:hover {
    background-color: rgb(33, 42, 99);
}
