<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="./assets/logo.png" style="margin-left: 50px; width: 100px;">
  <div class="navbar-collapse">
    <ul class="navbar-nav">
      <li *ngIf="!isLoggedIn" (click)="goTo('login')" [style.background-color]="currentRoute === 'login' ? 'rgb(252, 220, 195)' : ''"
        class="nav-item active navigation-item login-nav">
        <a class="nav-link">Login</a>
      </li>
      <li *ngIf="!isLoggedIn" (click)="goTo('signup')" [style.background-color]="currentRoute === 'signup' ? '#b371a2' : ''"
        class="nav-item active navigation-item signup-nav">
        <a class="nav-link">Sign up</a>
      </li>
      <li *ngIf="isLoggedIn" (click)="goTo('play')" [style.background-color]="currentRoute === 'play' ? 'rgb(201, 137, 135)' : ''"
        class="nav-item active navigation-item play-nav">
        <a class="nav-link">Play</a>
      </li>
      <li *ngIf="isLoggedIn" (click)="logOut()"
        class="nav-item active navigation-item logout-nav">
        <a class="nav-link">Logout</a>
      </li>
      <li *ngIf="isLoggedIn" (click)="goTo('settings')" [style.background-color]="currentRoute === 'settings' ? 'rgb(252, 220, 195)' : ''"
        class="nav-item active navigation-item settings-nav">
        <a class="nav-link">Settings</a>
      </li>
      <li (click)="goTo('about')" [style.background-color]="currentRoute === 'about' ? 'orange' : ''"
        class="nav-item active navigation-item about-nav">
        <a class="nav-link">About</a>
      </li>
    </ul>
  </div>
</nav>