<div class="wrapper">
  <div class="info-container">
    <h1 class="info-title">ABOUT</h1>
    <p class="info-text">
      Hello! This game will help you learn the simple multiplication as fast as possible!
      This will have to be a very inspiring text to get those kids learn the math.
      If you didn’t log it yet, do it now and let’s play! Bla Bla..
    </p>
  </div>
  <div class="main-container">
    <img [src]="'./assets/arrow_left.png'" style="width: 35px; cursor: pointer;" (click)="previousImage()">
    <img [src]="images[selectedImageIndex]" style="height: 90%;">
    <img [src]="'./assets/arrow_right.png'"style="width: 35px; cursor: pointer;"(click)="nextImage()">
  </div>
</div>

