<div class="wrapper">
  <div class="info-container">

  </div>
  <div class="main-container">
    <div class="login-input-container">
      <input [formControl]="usernameFormControl" style="background-color: rgba(0,0,0,0);" type="text" placeholder="Username">
      <input [formControl]="passwordFormControl" style="background-color: rgba(0,0,0,0);" type="password" placeholder="Password">
      <button (click)="login()">LOS GEHT'S</button>
      <a (click)="signUp()" style="cursor: pointer; color: white">Ich bin neu</a>
    </div>
  </div>
</div>