<div class="wrapper">
  <div class="info-container">

  </div>
  <div class="main-container">
    <div class="login-input-container">
      <form class="login-form-container">
        <input [formControl]="usernameFormControl" style="background-color: rgba(0,0,0,0); color: white;" type="text" placeholder="Username">
        <input [formControl]="passwordFormControl" style="background-color: rgba(0,0,0,0); color: white;" type="password" placeholder="Password">
        <button (click)="login()">LOS GEHT'S</button>
      </form>
      <a (click)="signUp()" style="cursor: pointer; color: white">Ich bin neu</a>
    </div>
  </div>
</div>