.login-input-container {
    display: flex;
    flex-direction: column;
    margin-right: 250px;
    height: 150px;
    justify-content: space-around;
}

.login-container {
    height: 80%;
    width: 100%;
    background-color: rgb(201, 137, 135);
    background-size: contain;
    background-image: url('../../assets/natalia-tablica2.1.png');
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}