<div class="wrapper">
  <!-- <div class="info-container">

  </div> -->
  <div class="main-container" style="height: 100%">

    <ng-container *ngIf="gameState === gameStates.INIT">
      <button style="margin-bottom: 30px;" (click)="startRegularGame()">
        Start Regular Game
      </button>
      <button (click)="startRandomGame()">
        Start Random Game
      </button>
    </ng-container>

    <ng-container *ngIf="gameState === gameStates.STARTED">
      <div style="display: flex; justify-content: space-between; color: white; width: 650px">
        <div>
          <span>Table</span> <span>{{ table }}</span>
        </div>
        <div>
          <span>Exercise</span> <span>{{ currentTaskNumber }} / {{ totalTasksNumber }}</span>
        </div>
        <div>
          <span>Time</span> <span>{{ timeLeft }}</span>
        </div>
      </div>

      <div class="solution">
        <span>{{ firstNumber }} X {{ secondNumber }} = </span>
        <input [formControl]="resultFormControl" type="number" class="multiplication-result" (keyup.enter)="submitResult()">
      </div>
    </ng-container>

    <ng-container *ngIf="gameState === gameStates.FINISHED">
      <span class="final-score">You managed {{score}} correct out of {{totalTasksNumber}}!</span>
      <span class="final-score" *ngIf="score / totalTasksNumber > 0.85"> Excellent</span>
      <span class="final-score" *ngIf="score / totalTasksNumber <= 0.85 && score / totalTasksNumber > 0.5"> Good Job</span>
      <span class="final-score" *ngIf="score / totalTasksNumber <= 0.5"> You could do better</span>

    </ng-container>

  </div>
</div>
