<div class="wrapper">
  <div class="main-container">
    <ng-container *ngIf="gameState === gameStates.INIT">
      <button class="regularGameButton" (click)="startRegularGame()">
        Bestimmte 1mal1-Reihe
      </button>
      <button class="randomGameButton"(click)="startRandomGame()">
        Alle 1mal1-Reihen
      </button>
    </ng-container>

    <ng-container *ngIf="gameState === gameStates.STARTED">
      <div class="settings">
        <div>
          <!--the table is not shown!-->
          <span>Reihe: </span> <span>{{ firstNumber }}</span>
        </div>
        <div>
          <span>Übungen:</span> <span>{{ currentTaskNumber }} / {{ totalTasksNumber }}</span>
        </div>
        <div>
          <span>Zeit:</span> <span>{{ timeLeft }}</span>
        </div>
      </div>

      <div class="solution">
        <span class="numbers">{{ firstNumber }} X {{ secondNumber }} = </span>
        <input class="multiplication-result" [formControl]="resultFormControl" type="number" (keyup.enter)="submitResult()">
      </div>
    </ng-container>

    <ng-container *ngIf="gameState === gameStates.FINISHED">
      <span class="final-score">Du hast {{score}} von {{totalTasksNumber}} Übungen richtig gerechnet.</span>
      <span class="final-score" *ngIf="score / totalTasksNumber > 0.85">Prima! Weiter so!</span>
      <span class="final-score" *ngIf="score / totalTasksNumber <= 0.85 && score / totalTasksNumber > 0.5">Gut gemacht!</span>
      <span class="final-score" *ngIf="score / totalTasksNumber <= 0.5">Das kannst du bestimmt noch besser!</span>
      <!--Button starts the game at exercise 10/10 and "secondNumber is missing"-->
      <button class="playAgain" (click)="playAgain()">Nochmal spielen!</button>
    </ng-container>

  </div>
</div>
