<div class="wrapper">
    <div class="info-container">

    </div>
    <div class="main-container">
        <div class="display: flex; justify-content: flex-start">
            <div class="white-color">
                <span>Table: </span>
                <input type="text" [formControl]="tableFormControl">
            </div>
            <div class="white-color">
                <span>Number of exercises: </span>
                <input type="text" [formControl]="numberOfExercisesFormControl">
            </div>
            <div class="white-color">
                <span>Time limit: </span>
                <input type="text" [formControl]="timeLimitFormControl">
            </div>
        </div>
    </div>
  </div>
