<div class="wrapper">
    <div class="info-container">
        <h1 class="info-title">SETTINGS</h1>
        <p class="info-text">Wie möchtest du das Einmalein üben? Stelle hier die Reihe, Anzahl der Übungen und die Zeiteinschränkung ein.</p>
    </div>
    <div class="main-container">
        <div class="settings-container">
            <div class="table">
                <span class="table-title">Reihe:</span>
                <select [formControl]="tableFormControl">
                  <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" [value]="i">{{i}}</option>
                </select>
            </div>
            <div class="exercises">
                <span class="exercises-title">Übungen:</span>
                <select [formControl]="numberOfExercisesFormControl">
                  <option *ngFor="let i of [5,10,15,20]" [value]="i">{{i}}</option>
                </select>
            </div>
            <div class="time">
                <span class="time-title">Zeit:</span>
                <select [formControl]="timeLimitFormControl">
                  <option *ngFor="let i of [15,20,30,40,60]" [value]="i">{{i}}</option>
                </select>
            </div>
            <div>
                <button class="letsGoButton" (click)="play()">Los geht's</button>
            </div>
        </div>
    </div>
  </div>
